ENVIRONMENT=local

DB_DRIVER=mysql+pymysql
DB_HOST=localhost
DB_PORT=3305
DB_USER=spring
DB_PASS=spring123
DB_NAME=minha_base

LOCALSTACK_ENDPOINT=http://localhost:4566
AWS_REGION=sa-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
FUNDAMENTOS_QUEUE_NAME=sqs-fundamentos-atualizados
COMUNICADOS_QUEUE_NAME=sqs-comunicados-publicados

CVM_BASE_URL=https://dados.cvm.gov.br/dados/CIA_ABERTA/DOC
CVM_ANOS=2024-2025
CVM_CACHE_DIR=./cache

LOG_LEVEL=INFO
HTTP_TIMEOUT=180
